*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: $font-roboto;
  font-size: 16px;
  line-height: 23px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  height: calc(100vh - 64px);
}

.bm-menu {
  background: white;
  overflow-y: scroll;
  top: 64px !important;

  @include media('>=medium') {
    top: 0 !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}
