*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: $font-roboto;
  font-size: 16px;
  line-height: 23px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  @include media('>=medium') {
    height: calc(100vh - 64px - 89px);
  }
}

.bm-menu {
  background: white;
  overflow-y: scroll;
  top: 64px !important;

  @include media('>=medium') {
    top: 0 !important;
    bottom: 89px !important;
    border-right: 1px solid $lightgray;
  }
}

@include media('<=medium') {
  .mooc-slider.ember-burger-menu.is-open:after {
    display: block;
    z-index: 99;
    content: '';
    top: 64px;;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: rgba(0, 0, 0, 0.35);
  }
}

@include media('>=medium') {
  .mooc-slider.ember-burger-menu {
    position: static;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}
