@import "../mixins/vars";

.chapter-ui {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (min-height: 800px) and (min-width: 800px) {
    height: 100%;
  }

  @include media('>=medium') {
    padding: 40px;
  }
}

.chapter-embed {
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
}

.chapter-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.chapter-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  flex: 1;

  margin-top: 20px;
  margin-bottom: 20px;

  @include media('>=medium') {
    flex-wrap: nowrap;

    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.chapter-controls__left,
.chapter-controls__right {
  display: flex;

  flex-basis: 100%;
  justify-content: center;
  align-items: center;

  @include media('>=medium') {
    flex: 1;
    flex-basis: auto;
  }
}

.chapter-controls__right {
  @include media('>=medium') {
    justify-content: flex-end;
  }
}

.chapter-controls__left {
  @include media('>=medium') {
    justify-content: flex-start;
  }
}

.chapter-controls__center {
  display: flex;
  justify-content: center;

  flex-basis: 100%;
  margin: 15px 0;

  > .share-button {
    flex-basis: 260px;
  }

  @include media('>=medium') {
    margin: 0 10px;
    flex-basis: auto;
    flex: 2 2 auto;

    > .share-button {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include media('>=1033px') {
    > .share-button {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  @include media('>=wide') {
    margin: 0;
  }
}

.chapter-body {
  border-radius: 3px;
  box-shadow: 0 2px 25px 0 rgba(111, 128, 255, 0.07);
  border: solid 1px $lightgray;
  padding: 30px;
  flex: 1 1 315px;

  overflow-y: scroll;
}

.chapter-title {
  font-family: $font-gillsans;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: $purple;

  margin-bottom: 14px;
}

.chapter-description {
  font-family: $font-roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  color: black;
  margin-bottom: 15px;

  a {
    color: $purple;
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}

.chapter-links,
.chapter-attachments {
  margin: 0;
  padding: 0;
  list-style: none;

  font-family: $font-roboto;
  font-size: 15px;
  font-weight: 300;

  li {
    margin-bottom: 10px;
  }

  a {
    color: $purple;
    text-decoration: none;
  }

  i {
    color: $purple;
    margin-right: 5px;
    font-size: 12px;
  }

  span {
    font-family: $font-roboto;
    font-size: 12px;
    font-weight: 300;
    color: $mediumgray;;
  }
}

.chapter-attachments li a {
  margin-right: 75px;
}
