@import "../mixins/vars";

.chapter-item {
  display: flex;
  text-decoration: none;
  transition: border .2s;
  border-right: transparent 5px solid;

  &:hover {
      border-color: $purple;
  }

  &.active {
      background: $purple;
  }
}

.chapter-item__thumb {
  position: relative;
  min-height: 65px;
  flex-basis: 95px;

  background-color: #f1f1f1;

  @include media('>=medium') {
    min-height: 95px;
    flex-basis: 138px;
  }

  .chapter-item--quiz & {
    background-color: #b8e986;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chapter-item--mooc &:after,
  .chapter-item--video &:after {
    // play icon
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    height: 0;
    width: 0;

    border-style: solid;
    border-color: transparent;
    border-width: 16px 0 16px 25.5px;

    border-left-color: white;
  }
}

.chapter-item__yt-thumb {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.chapter-item__quiz-thumb {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 14px;
}

.chapter-item__body {
  flex: 1;
  padding: 15px;
  border-bottom: 1px solid $lightgray;

  display: flex;
  flex-wrap: wrap;

  @include media('>=medium') {
    padding: 15px 25px;
  }

  @include media('>=wide') {
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 15px 35px;
  }

  .chapter-item.active &,
  .chapter-item:hover & {
    border-color: rgba($purple, .5);
  }
}

.chapter-item__title {
  font-family: $font-roboto;
  font-size: 12px;
  line-height: 18px;
  color: $purple;
  display: flex;
  align-items: center;

  @include media('>=medium') {
    font-size: 16px;
    line-height: 22px;
  }

  @include media('>=wide') {
    margin-right: 15px;
  }

  .chapter-item.active & {
    font-weight: bold;
    color: white;
  }
}

.chapter-item__duration {
  font-family: $font-gillsans;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: $gray;
  text-align: right;

  .chapter-item.active & {
    color: white;
  }

  order: -1;
  flex-basis: 100%;

  @include media('>=wide') {
    order: 0;
    flex: 1 0 auto;
  }
}
