@import "../mixins/vars";

.chapter-item {
  display: flex;
  text-decoration: none;
}

.chapter-item__thumb {
  flex-basis: 138px;
  background-color: #f1f1f1;
}

.chapter-item__body {
  flex: 1;
  padding: 15px 35px;

  display: flex;
  justify-content: space-between;
}

.chapter-item__title {
  font-family: $font-roboto;
  font-size: 15px;
  color: $purple;
}

.chapter-item__duration {
  font-family: $font-gillsans;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: $gray;
}
