@import "../mixins/vars";

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: white;
  border-top: 1px solid $lightgray;

  &.is-closed {
    display: none;
  }
}

.cookie-banner__body {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;

  padding: 12px;

  text-align: center;

  @include media(">=470px")  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include media(">=650px") {
    justify-content: center;
  }

  p {
    margin: 0;
    margin-bottom: 18px;
    line-height: normal;

    @include media(">=470px")  {
      margin: 0;
      flex: 1;
      text-align: center;
    }

    @include media(">=650px") {
      flex: none;
      margin-right: 20px;
    }
  }

  a {
    display: block;
    color: $purple;
    text-decoration: none;

    @include media(">=650px")  {
      display: inline;
    }
  }
}

.cookie-banner__button {
  @include button;

  width: 100%;

  @include media(">=650px")  {
    width: auto;
  }
}
