.mooc-card {
  position: relative;
  display: block;
  box-shadow: 10px 10px 47px 0 rgba($lightgray, 0);
  border-bottom: 3px solid rgba(#ff4d89, 0);
  font-family: $font-gillsans;
  font-weight: 100;
  text-decoration: none;
  color: black;
  transition: all 125ms ease-in;
  background-color: white;

  &:hover {
    box-shadow: 10px 10px 47px 0 rgba($lightgray, 1);
    transform: translateY(-4px);
    
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

  }
}

.mooc-card__content {

  &--title {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 0 15px 2px;

    @include media(">=medium") {
      font-size: 20px;
    }
  }

  &--summary {
    display: flex;
    font-size: 14px;
    padding: 0 15px 0;
    margin: 0 0 70px;

    @include media(">=medium") {
      font-size: 16px;
    }
  }

  &--count {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    margin: 0;
    padding: 10px 20px;

    @include media(">=medium") {
      font-size: 14px;
    }
  }
}

.mooc-incoming {
  background-color: #212121;
  color: white;
  padding: 90px 60px;
  width: 46.7%;
  list-style: none;
  text-align: center;
  font-family: "Gillsans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 20px;

  @include media("<=medium") {
    width: 100%;
    margin: 0;
  }
}