@import "../mixins/vars";

.share-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share-button__label {
  font-size: 15px;
  color: $gray;
}

.share-button__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 120px;
}

.share-button__share {
  display: flex;
  align-items: center;
  justify-content: center;

  appearance: none;
  padding: 0;
  border: none;
  cursor: pointer;

  background-color: $purple;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  width: 30px;
  height: 30px;
  text-decoration: none;

  transition: all .2s;

  &:hover {
      background: $gray;
  }
}
