@import "../mixins/vars";

.site-header {
  padding: 20px;
  border: solid 0.5px $lightgray;

  @include media('>=medium') {
    display: flex;
  }
}

.site-header__menu {
  display: flex;
  align-items: center;

  padding: 0;
  appearance: none;
  background: transparent;
  border: none;

  @include media('>=medium') {
    display: none;
  }
}

.site-header__lockup {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include media('>=medium') {
    justify-content: flex-start;
  }
}

.site-logo {
  font-family: $font-gillsans;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: black;
  letter-spacing: 0;

  text-decoration: none;

  margin-left: auto;

  @include media('>narrow') {
    font-size: 18px;
  }

  @include media('>=medium') {
    margin-left: 0;
    font-size: 28px;
  }
}

.site-header__separator {
  color: transparent;
  margin: 0 3px;
  width: 1px;
  background: $lightgray;

  @include media('>=medium') {
    margin: 0 10px;
  }
}

.site-tagline  {
  font-family: $font-gillsans;
  font-size: 14px;
  font-weight: 300;
  color: $darkgray;

  @include media('>=medium') {
    letter-spacing: 1.1px;
    font-size: 24px;
    display: block;
  }
}
