@import "../mixins/vars";

.week-header {
  padding: 30px 27px;
  background: $offwhite;
  border-bottom: 1px solid $lightgray;
}

.week-top {
  display: flex;
  justify-content: space-between;
}

.week-date {
  display: flex;
  align-items: center;
  font-family: $font-gillsans;
  font-size: 14px;
  color: $gray;
  font-family: $font-roboto;
}

.week-description {
  font-family: $font-roboto;
  font-size: 16px;
  color: white;
}

.week-name {
  color: $darkgray;
  line-height: 16px;
}

.week-name__prefix {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  display: block;
  color: black;
}

.week-name__suffix {
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: normal;
}
