@import "../mixins/vars";

.week-header {
  padding: 20px 27px;
  background: $purple;
}

.week-top {
  display: flex;
  justify-content: space-between;
}

.week-name {
  font-family: $font-gillsans;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: white;
}

.week-date {
  font-family: $font-gillsans;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: rgba(255, 255, 255, 0.49);
}

.week-description {
  font-family: $font-roboto;
  font-size: 16px;
  color: white;
}
