{{#link-to 'mooc' item.slug class="mooc-card" target="_blank"}}
  <div class="mooc-card__icon">
    <img src={{item.image}} />
  </div>

  <div class="mooc-card__content">

      <p class="title">
        {{item.title}}
      </p>

      <p class="summary">
        {{item.description}}
      </p>

      <p class="count">
        Durée : {{weeks}}
      </p>
  </div>
{{/link-to}}
