{{#link-to 'mooc' item.slug class="mooc-card" target="_blank"}}
  <div class="mooc-card__icon">
    <img src={{item.image}} />
  </div>

  <p class="mooc-card__title">
    {{item.title}}
  </p>

  <p class="mooc-card__summary">
    {{item.description}}
  </p>
{{/link-to}}
