<div class="share-button__label">Partager la vidéo :</div>
<div class="share-button__buttons">
  {{share-button/share 'twitter' params=(hash text=chapter.title)}}
  {{share-button/share 'facebook'}}
  {{share-button/share 'email' params=(hash text=chapter.title)}}
</div>
