<div class="share-button__label">Plus nous serons nombreux, plus nous aurons de l'impact !</div>
<div class="share-button__buttons">
  {{share-button/share 'twitter' params=(hash text=chapter.twitterText)}}
  {{share-button/share 'facebook'}}
  {{share-button/share 'email' params=(hash body=chapter.emailBody subject=chapter.emailObject)}}
</div>
