@font-face {
  font-family: 'Gillsans';
  src: url("/fonts/gillsans-light.eot");
  src: url("/fonts/gillsans-light.eot?#iefix") format("embedded-opentype"), url("/fonts/gillsans-light.woff2") format("woff2"), url("/fonts/gillsans-light.woff") format("woff"), url("/fonts/gillsans-light.ttf") format("truetype"), url("/fonts/gillsans-light.svg#gillsans_lightregular") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Gillsans';
  src: url("/fonts/gillsans-regular.eot");
  src: url("/fonts/gillsans-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/gillsans-regular.woff2") format("woff2"), url("/fonts/gillsans-regular.woff") format("woff"), url("/fonts/gillsans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gillsans';
  src: url("/fonts/gillsans-italic.eot");
  src: url("/fonts/gillsans-italic.eot?#iefix") format("embedded-opentype"), url("/fonts/gillsans-italic.woff2") format("woff2"), url("/fonts/gillsans-italic.woff") format("woff"), url("/fonts/gillsans-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Gillsans';
  src: url("/fonts/gillsans-heavy.eot");
  src: url("/fonts/gillsans-heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/gillsans-heavy.woff2") format("woff2"), url("/fonts/gillsans-heavy.woff") format("woff"), url("/fonts/gillsans-heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gillsans';
  src: url("/fonts/gillsans-heavy-italic.eot");
  src: url("/fonts/gillsans-heavy-italic.eot?#iefix") format("embedded-opentype"), url("/fonts/gillsans-heavy-italic.woff2") format("woff2"), url("/fonts/gillsans-heavy-italic.woff") format("woff"), url("/fonts/gillsans-heavy-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

.text--breakword {
  overflow-wrap: break-word;
  word-wrap: break-word; }

.text--summary {
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400; }

.text--body {
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  overflow-wrap: break-word;
  word-wrap: break-word; }

.text--smallest {
  font-size: 12px;
  line-height: 18px; }

.text--small {
  font-size: 14px;
  line-height: 20px; }

.text--medium-small {
  font-size: 20px;
  line-height: 27px; }

.text--medium {
  font-size: 24px;
  line-height: 1.2em; }
  @media (max-width: 650px) {
    .text--medium {
      font-size: 20px;
      line-height: 27px; } }

.text--medium-large {
  font-size: 28px;
  letter-spacing: -0.6px;
  line-height: 32px; }

.text--large {
  font-size: 34px;
  letter-spacing: -0.5px;
  line-height: 38px; }
  @media (max-width: 650px) {
    .text--large {
      font-size: 28px;
      line-height: 1.2em; } }
  @media (max-width: 650px) {
    .text--large {
      font-size: 24px;
      line-height: 1.2em; } }

.text--larger {
  font-size: 44px;
  line-height: 0.93;
  letter-spacing: -1.2px; }
  @media (max-width: 650px) {
    .text--larger {
      font-size: 28px;
      letter-spacing: -0.6px;
      line-height: 32px; } }
  @media (max-width: 650px) {
    .text--larger {
      font-size: 34px;
      letter-spacing: -0.5px;
      line-height: 38px; } }

.text--extra-large {
  font-size: 48px;
  line-height: 1em; }
  @media (max-width: 650px) {
    .text--extra-large {
      font-size: 44px;
      line-height: 0.93;
      letter-spacing: -1.2px; } }
  @media (max-width: 650px) and (max-width: 650px) {
    .text--extra-large {
      font-size: 28px;
      letter-spacing: -0.6px;
      line-height: 32px; } }

.text--logo {
  font-weight: 700;
  font-family: "Gillsans", Helvetica, sans-serif;
  font-size: 28px;
  font-style: italic;
  line-height: 0.9em;
  margin-right: 10px;
  letter-spacing: -0.7px; }
  @media (max-width: 1000px) {
    .text--logo {
      font-size: 24px; } }
  @media (max-width: 650px) {
    .text--logo {
      font-size: 22px; } }
  .text--logo a {
    border: 0; }

.text--italic {
  font-style: italic; }

.text--normal {
  font-weight: normal; }

.text--bold {
  font-weight: 700; }

.text--half-opacity {
  opacity: 0.5; }

.text--on-white {
  background: white;
  padding: 0 5px; }

.text--on-pink {
  color: white;
  background: #ff4d89;
  padding: 0 5px; }

.text--pink {
  color: #ff4d89; }

.text--blue {
  color: #4a90e2; }

.text--blue--dark {
  color: #1d5fd1; }

.text--dark {
  color: #444; }

.text--error {
  color: #ee324a; }

.text--inline {
  display: inline; }

.text--limited {
  max-width: 500px; }
  .text--limited-extra {
    max-width: 400px; }
  @media (max-width: 650px) {
    .text--limited {
      width: 100%; } }

.text--with-bullet ul {
  padding-left: 40px;
  list-style-type: disc; }

.text--with-bullet li {
  list-style-type: inherit; }

.text--uppercase {
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.text--uppercase-wide {
  text-transform: uppercase;
  letter-spacing: 2.5px; }

.text--lowercase {
  text-transform: lowercase; }

.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.text--block {
  white-space: nowrap; }

.text--white {
  color: white; }

.text--blue {
  color: #4a90e2; }

.text--orange {
  color: #ff6955; }

.text--blue--new {
  color: #1d5fd1; }

.text--green {
  color: #21b163; }

.text--gray {
  color: #7f7f7f; }

.text--muted {
  color: #999; }

.text--light-gray {
  color: #bcbcbc; }

.text--margin-right {
  margin-right: 15px; }

.text--shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); }

.link--white {
  color: white;
  border-color: white; }

.link--blue--dark {
  color: #1d5fd1; }

.tag {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Roboto", Helvetica, sans-serif; }
  .tag--orange {
    padding: 0 5px;
    background: #ff6955;
    color: white; }

.list__links {
  display: flex; }
  .list__links li {
    letter-spacing: 0.3px;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 14px; }
    .list__links li h4 {
      font-family: "Gillsans", Helvetica, sans-serif; }
  .list__links .head {
    text-transform: uppercase;
    font-family: "Gillsans", Helvetica, sans-serif;
    letter-spacing: 1.5px; }
  .list__links--default li {
    font-size: 18px; }

.list__links--vertical-align {
  align-items: center; }

.list__links--margin-right li {
  margin-right: 15px; }

.list__links--row {
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .list__links--row-bottom {
    align-items: flex-end; }
  .list__links--row-left {
    justify-content: flex-start; }
  .list__links--row li {
    padding-right: 15px; }
    .list__links--row li:last-child {
      padding: 0; }

.list__links--col {
  flex-direction: column;
  margin-bottom: 15px; }
  .list__links--col li {
    padding-bottom: 4px; }

@media (max-width: 650px) {
  .list__links--col-mobile {
    flex-direction: column;
    margin-bottom: 15px; }
    .list__links--col-mobile li {
      padding: 0 0 4px 0; }
      .list__links--col-mobile li .btn {
        margin-bottom: 6px; } }

.list__links--left {
  justify-content: flex-start; }

.list__links--no-decor a {
  border: none; }

.list__links--svgs li {
  padding-right: 20px; }
  .list__links--svgs li .fa {
    font-size: 38px; }

.list__links--svgs--small li {
  padding-right: 15px; }
  .list__links--svgs--small li .fa {
    font-size: 20px; }

@media (max-width: 650px) {
  .list__links--svgs li,
  .list__links--svgs li:last-child {
    padding-left: 15px;
    padding-right: 15px; }
    .list__links--svgs li .fa,
    .list__links--svgs li:last-child .fa {
      margin-bottom: 10px; }
  .list__links--svgs--small li,
  .list__links--svgs--small li:last-child {
    padding-left: 10px;
    padding-right: 10px; } }

.list__links--nav li {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0; }
  .list__links--nav li .icon-search {
    position: relative;
    top: 4px; }
    @media (max-width: 650px) {
      .list__links--nav li .icon-search {
        top: 1px;
        width: 20px; } }

.list__links--nav.list__links--col li {
  line-height: 2; }

.list__links--subnav li a {
  color: white;
  font-size: 14px; }

.icon--with-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none; }
  .icon--with-text svg,
  .icon--with-text i {
    margin-right: 7px; }
    .icon--with-text svg.fa,
    .icon--with-text i.fa {
      width: 15px;
      text-align: center; }
      .icon--with-text svg.fa--auto,
      .icon--with-text i.fa--auto {
        width: auto; }
  .icon--with-text--reversed svg,
  .icon--with-text--reversed i {
    margin-left: 7px; }

body {
  background-color: #FAFAFA;
  margin: 0;
  font-family: "Gillsans", Helvetica, sans-serif; }

.l__wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: inherit; }

.header img {
  width: 100%; }

.title {
  text-align: center; }
  .title h1 {
    font-size: 34px;
    margin: 20px 0 0 0; }
  .title h3 {
    font-size: 28px;
    font-weight: normal;
    margin: 10px 0 70px 0; }
    @media (max-width: 1000px) {
      .title h3 {
        margin: 10px 0 50px 0; } }

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  margin-bottom: 2%; }
  @media (max-width: 1000px) {
    .grid {
      flex-direction: column;
      transition: all 0.5s; } }

.card {
  padding: 0 10px;
  width: 100%;
  position: relative; }
  .card img {
    width: 100%; }
  .card__content {
    margin-top: -3px;
    padding: 20px;
    background-color: white;
    min-height: 140px; }
    .card__content h4 {
      margin: 0;
      font-size: 20px;
      color: #282828; }
    .card__content p {
      color: #595959;
      font-size: 19px; }
    .card__content span {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      color: #4a4a4a;
      bottom: 20px;
      right: 30px;
      position: absolute; }
  .card > div {
    position: relative;
    top: 0;
    transition: all 0.5s; }
    .card > div:hover {
      box-shadow: 10px 10px 47px 0 #e0e0e0;
      cursor: pointer;
      top: -4px;
      transition: all 0.5s; }
  @media (max-width: 1000px) {
    .card {
      margin-bottom: 5%; } }

.incoming {
  background-color: #212121;
  color: #FFF;
  padding: 40px 20px;
  margin: 0 0 0 10px;
  text-align: center;
  font-size: 20px;
  width: 45%;
  margin-bottom: 10%; }
  @media (max-width: 1000px) {
    .incoming {
      margin: 0 auto;
      width: 80%; } }

.footer {
  width: 100%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 0; }
  .footer a:hover {
    color: #000;
    transition: all 0.5s; }
  .footer ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 8px 0; }
  .footer li {
    font-size: 14px;
    color: #444;
    list-style: none;
    padding: 0 5px; }
  .footer span {
    color: #818181;
    margin: 8px 0;
    padding-left: 40px; }
