<div class="site-header__lockup">
  <button {{action toggleMenu}} class="site-header__menu">
    {{fa-icon 'bars'}}
  </button>
  <a class="site-logo" href="https://en-marche.fr" target="_blank">
    EM !
  </a>

  <div class="site-header__separator">|</div>
  <div class="site-tagline">Bienvenue sur les MOOC d'En Marche<span>, des formations en ligne ouvertes à tous !</span> !</div>
</div>
