<div class="week-top">
  <h1 class="week-name">{{week.title}}</h1>
  <div class="week-date">{{moment-format week.publishedAt "D/M/YY"}}</div>
</div>

<div class="week-description">
  {{week.description}}
</div>
