<div class="week-top">
  <h1 class="week-name">
    <span class="week-name__prefix">{{week.titlePrefix}}</span>
    <span class="week-name__suffix">{{week.titleSuffix}}</span>
  </h1>
  {{#if (is-same-or-before week.publishedAt precision='day')}}
    <div class="week-date">{{moment-format week.publishedAt "D MMM YYYY"}}</div>
  {{/if}}
</div>

<div class="week-description">
  {{week.description}}
</div>
