<ul class="site-footer__row">
  <li class="site-footer__item">
    <a href="https://en-marche.fr/formation" target="_blank">Formation</a>
  </li>
  {{#if indexLink}}
  <li class="site-footer__item">
    <a href="https://mooc.en-marche.fr" target="_blank">MOOC</a>
  </li>
  {{/if}}
  <li class="site-footer__item">
    <a href="https://aide.en-marche.fr" target="_blank">Aide</a>
  </li>
  <li class="site-footer__item">
    <a href="https://contact.en-marche.fr" target="_blank">Contact</a>
  </li>
</ul>
<ul class="site-footer__row">
  <li class="site-footer__item"><a href="https://en-marche.fr/mentions-legales" target="_blank">Mentions légales</a></li>
  <li class="site-footer__item"><a href="https://en-marche.fr/politique-cookies" target="_blank">Politique de Cookies</a></li>
  <li class="site-footer__item"><a href="https://en-marche.fr/politique-protection-donnees" target="_blank">Politique de Protections des Données</a></li>
</ul>
<div class="site-footer__row">
  <span class="site-footer__copyright">© La République En Marche !</span>
</div>
