.index-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  margin-bottom: 10px;

  height: 150px;


  &:before {
    content: '';
    background: url('/assets/images/mooc_bkg.jpg') 50% 80% / cover no-repeat;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 0;

    transform: rotate(180deg);
  }

  @include media(">=medium") {
    height: 400px;
    margin-bottom: 60px;
  }

  a {
    padding: 25px;
    fill: #24D28E;
    position: relative; // stack above the translucent overlay
  }

  .em-logo {
    width: 130px;

    @include media(">=medium") {
      width: 200px;
    }
  }

  @include media("<=medium") {
    margin-bottom: 10px;
  }
}

.mooc-homepage ul.flex-list {
  li {
    width: 30%;

    @include media('<=medium') {
      width: 100%;
    }
  }
}

.mooc-list {
  padding: 0 25px;
  max-width: 1250px;
  margin: 0 auto;

  &__header {
    text-align: center;
    font-family: $font-gillsans;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -.5px;
    margin-bottom: 15px;

    @include media(">=medium") {
      font-size: 34px;
      line-height: 38px;
    }
  }

  &__blurb {
    text-align: center;
    margin: 0;
  }

  &__info {
    text-align: center;
    font-size: 11px;
    font-style: italic;
    color: $mediumgray;
    margin: 5px 0 24px;
  }
}
