.index-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;

  height: 150px;

  background: url('/assets/images/mooc_bkg.jpg') 50% 80% / cover no-repeat;

  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.25) 100%;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 0;
  }

  @include media(">=medium") {
    height: 400px;
    margin-bottom: 60px;
  }

  a {
    padding: 25px;
    fill: $purple;
    position: relative; // stack above the translucent overlay
  }

  .em-logo {
    width: 130px;

    @include media(">=medium") {
      width: 200px;
    }
  }

  @include media("<=medium") {
    margin-bottom: 10px;
  }
}

.mooc-list {
  padding: 0 25px;
  max-width: 1250px;
  margin: 0 auto;
}
