.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    margin-bottom: 2%;

    @media (max-width: $tablet) {
        flex-direction: column;
        transition: all 0.5s;
    }
  
}