<div class="index-header">
  <a href="https://en-marche.fr" target="_blank">
    {{svg-icon icon="logo" class="em-logo"}}
  </a>
</div>

<main class="mooc-list">
  <h1 class="mooc-list__header">Découvrez les MOOC* de La République En Marche !</h1>
  <p class="mooc-list__blurb">Ces "MOOC*" sont des formations en ligne, gratuites, accessibles à tous.</p>
  <p class="mooc-list__info">*MOOC = "Massive Open Online Courses" qui se traduit par "cours en ligne ouvert et massif"</p>

  {{#grid-layout class="index-grid" items=sorted as |item|}}
    {{mooc-card item=item}}
  {{/grid-layout}}
</main>

{{site-footer}}
