<div class="index-bkg">
  <div class="index-header">
  </div>

  <main class="mooc-list">
    <h1 class="mooc-list__header">Découvrez les formations en ligne de La République En Marche !</h1>
    <p class="mooc-list__blurb">Ces formations en ligne sont gratuites et accessibles à tous.</p>

    {{#flex-layout class="mooc-homepage" items=sorted as |item|}}
    <li>{{mooc-card item=item}}</li>
    {{/flex-layout}}

    <li class="mooc-incoming">
      D'autres formations en ligne arrivent
    </li>

  </main>

</div>

{{site-footer}}