{{#burger-menu
  open=(media 'isOpenMenu')
  translucentOverlay=(not (media 'isOpenMenu'))
  locked=(media 'isOpenMenu')
  animation=(if (media 'isOpenMenu') 'squeeze' 'slide')
  width=(if (media 'isOpenMenu') size 320)
  as |burger|}}

  {{site-header toggleMenu=(action burger.state.actions.toggle)}}

  {{#burger.menu as |menu|}}
    {{#each model.weeks as |week|}}
      <section>
        {{week-header week}}

        {{#chapter-list week.chapters as |item|}}
          {{#menu.item dismissOnClick=true}}
            {{item}}
          {{/menu.item}}
        {{/chapter-list}}
      </section>
    {{/each}}
  {{/burger.menu}}

  {{#burger.outlet}}
  <div class="page-wrapper">
    {{outlet}}
  </div>
  {{/burger.outlet}}
{{/burger-menu}}
