{{site-header}}

{{#burger-menu
  open=(media 'isOpenMenu')
  translucentOverlay=false
  locked=(media 'isOpenMenu')
  animation='squeeze'
  width=(if (media 'isOpenMenu') size 320)
  as |burger|}}
  {{#burger.menu}}
    {{#each model.weeks as |week|}}
      <section>
        {{week-header week}}

        {{chapter-list week.chapters}}
      </section>
    {{/each}}
  {{/burger.menu}}

  {{#burger.outlet}}
  <div class="page-wrapper">
    {{outlet}}
  </div>
  {{/burger.outlet}}
{{/burger-menu}}
